@import "colors.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* Universal Styling */
* {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--text);
    box-sizing: border-box;
}

h1 {
    font-weight: var(--h1-weight);
    font-size: var(--h1-size);
}

h2 {
    font-weight: var(--h2-weight);
    font-size: var(--h2-size);
}

h3 {
    font-size: var(--h3-size);
    font-weight: var(--h3-weight);
}

p {
    font-size: var(--p-size);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Header Styles */
header {
    width: 100vw;
    padding: 1rem;
    font-size: 1.5rem;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(-45deg, var(--primary), var(--secondary));
    border-bottom: 1px solid var(--accent);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 100;
}

#nav {
    width: 100%;
}

#nav ul {
    display: flex;
    justify-content: space-evenly;
}

#nav a {
    padding: 10px 15px;
    color: var(--text);
    text-decoration: none;
}

#nav a:hover {
    transition: 500ms;
    color: var(--accent);
}

.menu-toggle {
    display: none;
}

/* Hero Styles */

section#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    border-bottom: 1px solid var(--accent);
    background: linear-gradient(45deg, var(--primary), var(--secondary));
    background-size: 300% 300%;
    animation: gradient 10s ease infinite;
}

#hero h1 {
    text-decoration: underline;
    text-decoration-color: var(--accent);
    color: var(--text);
    /* animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; */
}

.fade-in {
    opacity: 0;
    transform: translateX(-50px);
    animation: slideFadeIn 2s ease-out forwards;
}

@keyframes slideFadeIn {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

#hero h2 {
    margin: 10px 0;
    animation: fadeInAnimation ease 6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#hero p {
    margin: 30px 0;
    animation: fadeInAnimation ease 9s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    25% {
        background-position: 50% 100%;
    }

    50% {
        background-position: 100% 50%;
    }

    75% {
        background-position: 50% 0%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* About Styles */

section#about {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    border-bottom: 1px solid var(--accent);
    background: linear-gradient(-45deg, var(--primary), var(--secondary));
    background-size: 300% 300%;
    animation: gradient 10s ease infinite;
    overflow: hidden;
}

#about .container {
    display: flex;
    flex-direction: row;
    padding: 50px;
    gap: 5em;
}

#about .text {
    display: flex;
    flex-direction: column;
    letter-spacing: 1px;
    line-height: 2em;
    align-items: center;
}

#about h2,
#about h3 {
    color: var(--accent);
    text-decoration: underline;
}

#about img {
    align-self: center;
    height: auto;
    width: 100%;
    border-radius: 300px;
    border: 5px solid var(--accent);
}

/* Project Styles */

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    border-bottom: 1px solid var(--accent);
    background: linear-gradient(45deg, var(--primary), var(--secondary));
    background-size: 300% 300%;
    animation: gradient 10s ease infinite;
}

.carousel-container h2 {
    font-size: 2em;
    text-decoration: underline;
    text-decoration-color: var(--accent);
    position: absolute;
    top: -50%;
    transform: translateY(50%);
    left: 50%;
    transform: translateX(-50%);
}

.carousel-container {
    perspective: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel {
    width: 300px;
    height: 300px;
    position: relative;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: transform 1s ease;
}

.carousel__item {
    position: absolute;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #333;
    border: 2px solid var(--accent);
    overflow: hidden;
}

.carousel__item a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text);
}

.carousel__item .text {
    display: none;
}

.carousel__item:nth-child(1) {
    transform: rotateY(0deg) translateZ(300px);
}

.carousel__item:nth-child(2) {
    transform: rotateY(120deg) translateZ(300px);
}

.carousel__item:nth-child(3) {
    transform: rotateY(240deg) translateZ(300px);
}

.carousel__item a img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.carousel-container button {
    border: none;
    background-color: rgba(255, 215, 0, 0.4);
    color: var(--text);
    padding: 10px 20px;
    font-size: var(--h1-size);
    border-radius: 10px;
    height: 100px;
    transition: 300ms;
}

.carousel-container button:hover {
    background-color: rgba(255, 215, 0, 0.7);
}

.carousel-container button:active {
    background-color: rgba(255, 215, 0, .9);
}

.carousel-container .prev {
    position: absolute;
    right: 100%;
    transform: translateX(-100%);
    top: 50%;
    transform: translateY(-50%);
}

.carousel-container .next {
    position: absolute;
    left: 100%;
    transform: translateX(-100%);
    top: 50%;
    transform: translateY(-50%);
}

/* Skills Styles */

#skills {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
    width: 100vw;
    border-bottom: 1px solid var(--accent);
    background: linear-gradient(-45deg, var(--primary), var(--secondary));
    background-size: 300% 300%;
    animation: gradient 10s ease infinite;
    text-align: center;
    padding-top: 35px;
}

#skills .container {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.container .skill_card {
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: center;
    max-width: 450px;
    height: 300px;
    border: 3px solid var(--accent);
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 20px;
    background-color: var(--background);
    position: relative;
    transition: transform 300ms ease-in-out;
}

.skill_card:hover {
    transform: scale(1.1);
    animation: shake 500ms ease-in-out;
    z-index: 1;
}

@keyframes shake {
    0% { transform: scale(1.1) rotate(0deg); }
    25% { transform: scale(1.1) rotate(3deg); }
    50% { transform: scale(1.1) rotate(-3deg); }
    75% { transform: scale(1.1) rotate(3deg); }
    100% { transform: scale(1.1) rotate(0deg); }
}

.skill_card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: transparent;
}

.skill_card .skill-icon {
    height: 80px;
    width: 80px;
}

.skill_card p {
    text-decoration: underline;
    letter-spacing: 1px;
    font-weight: 500;
}

.skill_card li {
    line-height: 1.45em;
    font-size: 1.06em;
}

.skill_card span {
    color: var(--accent);
    font-weight: 400;
}

/* Contact Styles */

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    border-bottom: 1px solid var(--accent);
    background: linear-gradient(45deg, var(--primary), var(--secondary));
    background-size: 300% 300%;
    animation: gradient 10s ease infinite;
}

#contact .container {
    text-align: center;
}

#contact .container h2 {
    text-decoration: underline;
    font-size: 2.2em;
    font-weight: 300;
    color: var(--accent);
    text-decoration-color: var(--text);
    text-decoration-thickness: 2px;
}

#contact .contact {
    display: flex;
    align-items: center;
    justify-content: start;
}

#contact svg {
    width: 40px;
    margin-right: 25px;
    fill: var(--text);
}

#contact a {
    color: var(--link);
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 5px 0;
    font-size: 0.9em;
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .credit {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 50px;
    line-height: 1.4em;
    box-sizing: border-box;
}

.credit a {
    text-align: left;
    text-decoration: none;
    color: var(--link);
}